<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<hr>
<nav>
  <a [routerLink]="['/home']" [routerLinkActive] = "['activado']">
    Home
  </a>
  -
  <a [routerLink]="['/fruta']" [routerLinkActive] = "['activado']">
    Fruta
  </a>
  -
  <a [routerLink]="['/empleado']" [routerLinkActive] = "['activado']">
    Empleado
  </a>
  -
  <a [routerLink]="['/contacto']" [routerLinkActive] = "['activado']">
    Contacto
  </a>
  -
  <a [routerLink]="['/coche']" [routerLinkActive] = "['activado']">
    Coche
  </a>
  -
  <a [routerLink]="['/plantilla']" [routerLinkActive] = "['activado']">
    Plantilla
  </a>
</nav>
<!--<fruta></fruta>-->
<!--<empleado></empleado>-->
<router-outlet></router-outlet>
