<h2>{{titulo}}</h2>
<hr/>
<h3>Selector de Colores:</h3>
<input type="text" [(ngModel)]="color_seleccionado"/>

<pre [style.border] = "color_seleccionado == 'red' ? '5px solid black': '1px solid green'"
     [ngClass] = "{
         bordeAzul: color_seleccionado == 'blue',
         bordeVerde: color_seleccionado == 'green'
     }"
>
    <strong>Color elegido:</strong> {{color_seleccionado}}
</pre>

<div [ngStyle]="{
                'background' : color_seleccionado,
                'width'  : '200px',
                'height' : '200px',
                'float' : 'right',
                'margin-right' : '69%'
                }"></div>
<div style="clear:both"></div>

<hr/>
<h3>Colores switch</h3>
<ul [ngSwitch]="color">
    <li *ngSwitchCase="'red'" [ngStyle]="{'background':color, 'color':'white', 'padding':'20px'}">Es de color Rojo</li>
    <li *ngSwitchCase="'blue'" [ngStyle]="{'background':color, 'color':'white', 'padding':'20px'}">Es de color Azul</li>
    <li *ngSwitchCase="'green'" [ngStyle]="{'background':color, 'color':'white', 'padding':'20px'}">Es de color Verde</li>
</ul>
<hr/>
<h3>Listado de empleados:</h3>
<ul>
    <li *ngFor="let empleado of trabajadores; let i = index">
        Empleado {{i+1}}:
        <ul>
            <li>{{empleado.nombre}}</li>
            <li>{{empleado.fecNac}}</li>
            <li>{{empleado.cargo}}</li>
            <li *ngIf = "empleado.contratado == true">Contratado</li>
            <li *ngIf = "empleado.contratado == false">No contratado</li>
        </ul>
    </li>
</ul>
<hr/>
<h3>Empleado:</h3>
<button (click)="cambiarEmpleado(!trabajador_externo)">Cambiar empleado</button>
<div *ngIf = "trabajador_externo == true">
    <ul>
        <li>{{trabajadores[1].nombre}}</li>
        <li>{{trabajadores[1].fecNac}}</li>
        <li>{{trabajadores[1].cargo}}</li>
        <li *ngIf = "trabajadores[1].contratado == true">Contratado</li>
        <li *ngIf = "trabajadores[1].contratado == false">No contratado</li>
    </ul>
</div>
<div *ngIf = "trabajador_externo == false">
    <ul>
        <li>{{empleado.nombre}}</li>
        <li>{{empleado.fecNac}}</li>
        <li>{{empleado.cargo}}</li>
        <li *ngIf = "empleado.contratado == true">Contratado</li>
        <li *ngIf = "empleado.contratado == false">No contratado</li>
    </ul>
</div>
