<h2>{{titulo}}</h2>

{{fecha | date:'dd/MM/yyyy'}}
{{fecha | date:'fullDate' }}
{{nombre | uppercase | lowercase}}
<br>
<br>
<input type="text" [(ngModel)]="prenda_a_guardar"/>
<button (click)="guardarPrenda()">Añadir prenda</button>
<p *ngIf="prenda_a_guardar">La prenda a guardar es : <strong>{{prenda_a_guardar}}</strong></p>
<h3>Listado de prendas de ropa</h3>
<ul>
    <li *ngFor="let prenda of listado_ropa; let i = index">
        <button (click)="borrarPrenda(i)">Borrar</button>{{prenda}}
    </li>
</ul>